#--------OAuth2.0 Client Configuration---------
#scope=device_01
grant_type=client_credentials
client_id=GhbjU2HfHu830DzN46W80d6P4BAa
client_secret=JL_0s7leQln4oI9ZakoqLjjt9vca
access_token=
authentication_server_url=https://api.vasttrafik.se/accessToken
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------





#"GhbjU2HfHu830DzN46W80d6P4BAa", "JL_0s7leQln4oI9ZakoqLjjt9vca"


#POST https://api.vasttrafik.se/accessToken HTTP/1.1
#        Content-Type: application/x-www-form-urlencoded
#        Authorization: Basic UmJseEkyeTFsWVNFTTZ0Z2J6anBTa2E0R1o6Wk1nSkR0Y0paRGV4OTJldUxpQUdYOFExUnU=
#        grant_type=client_credentials&scope=<device_id>














